---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

const pageTitle = "About";

const about = {
  firstName: "Koushil",
  lastName: "Mankali",
  job: "ITalentDigital",
  hobbies: ["Exploring javascript", "watching movies"],
  experience: 1,
};

const skills = [
  "HTML5",
  "CSS3",
  "JavaScript",
  "React",
  "NodeJs",
  "MongoDB",
  "ExpressJs",
];

const experienced = true;
const pageTitleCssColor = "white";
const pageTitleCssfontSize = "3rem";
const pageTitleCssfontWeight = 700;
const backGroundcolor = "crimson";
---

<html>
  <head>
    <title>{pageTitle}</title>
    <style
      define:vars={{
        pageTitleCssfontSize,
        pageTitleCssColor,
        pageTitleCssfontWeight,
        backGroundcolor,
      }}
    >
      .pageTitle {
        color: var(--pageTitleCssColor);
        font-size: var(--pageTitleCssfontSize);
        font-weight: var(--pageTitleCssfontWeight);
        background-color: var(--backGroundcolor);
      }
    </style>
  </head>
  <body>
    <Navigation />
    <div class="bodyDiv">
      <h1 class="pageTitle">{pageTitle} page</h1>

      <p>Hi, I'am {about.firstName} {about.lastName},</p>
      <p>
        I work as a Software Engineer @ {about.job} and my hobbies are {
          about.hobbies[0]
        } and {about.hobbies[1]}.
      </p>
      <p>My Skills: {skills?.map((skill) => <p>{skill}</p>)}</p>
      <p>Experienced: {experienced && "Yes"}</p>
      <p>
        {
          experienced
            ? `I have ${about.experience}+ year's of experience`
            : "I am a fresher."
        }
      </p>
    </div>
    <Footer />
  </body>
</html>
